# Update .npmignore whenever you update this file!

.todo
/bower_components
/node_modules
package-lock.json
npm-debug.log
typings/
runner/*.js
runner/*.d.ts
runner/*.js.map
test/unit/*.js
test/unit/*.d.ts
test/unit/*.js.map
test/integration/*.js
test/integration/*.d.ts
test/integration/*.js.map
test/fixtures/integration/temp

browser/childrunner.js*
browser/clisocket.js*
browser/config.js*
browser/declarations.js*
browser/more-declarations.js*
browser/reporters/*.js*
browser/suites.js*
browser/util.js*
